body {
  background-image: url(../images/joanna-kosinska-7ACuHoezUYk-unsplash.jpg);
  background-size: cover;
}

.main {
  border: 2px solid black;
}

.generate-btn,
.copy-btn {
  border: 1px solid black;
  background-color: orangered;
  color: white;
}

#password {
  text-align: center !important;
}
