body {
  background-image: url(../images/white-waves.png);
  background-size: cover;
}

.main {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1px);
}

.generate-btn,
.copy-btn,
.reset-btn {
  border: 1px solid black;
  border-radius: 20px;
  background-color: orangered;
  color: white;
}

#password {
  text-align: center !important;
}

#password {
  border-width: 2px;
  border-style: dashed;
}
